form {
  width: 50%;
  margin:auto;
}


body {
  background-color: #717A71;
}

a {
  color: #36B500
}


#ghlogo {
  height: 200px;
}

#showUserAvatar, img {
  height: 100px;
  border-radius: 100px;
  margin-bottom: 25px;

}

#userData, #userRepos {
  display: none;
}

.btn,
.btn.disabled:hover,
.btn:active,
.btn:visited,
.btn:focus,
.btn:disabled {
    background-color: #99938E;
    border-color: #99938E;
}

.jumbotron {
  background-color: #A6ADA3;
}
